@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
   Project variables
   ========================================================================== */

$img-path: '../img/';
$sprite-path: '#{$img-path}sprites/';
$font-path: '../fonts/';

$font-family-source: 'Source Sans Pro', sans-serif;
$font-family-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-family-base: $font-family-source;
