{% extends 'app/base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h2><strong>{{ 'common.error.403.title'|trans }}</strong></h2>
        <p>
            {{ 'common.error.403.content'|trans }}
        </p>
    </div>
{% endblock %}
