{% extends 'app/base.html.twig' %}

{% block page_title %}{{ 'common.error.404.title'|trans }}{% endblock %}

{% block content %}
    <div class="text-center">
        <p>
            {{ 'common.error.404.content'|trans }}
        </p>
    </div>
{% endblock %}
