{% extends 'admin/layout.html.twig' %}

{% form_theme form 'AgileAdminBundle:form:theme.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                {% block box_title %}{% endblock box_title %}
            </h3>
        </div>
        <div class="box-body">
            {% block box_body %}{% endblock box_body %}
        </div>
    </div>
{% endblock %}

{% block view_js %}
    <script>
        $(document).ready(function () {
            $('select').select2().change();
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            $('.wysi-html-editor').wysihtml5({
                toolbar: {
                    "html": true,
                    "image": false
                }
            });
        });
    </script>
{% endblock %}
