{% extends "app/base.html.twig" %}

{% block page_title %}{{ 'app.user.register.title'|trans }}{% endblock %}

{% block content %}
    <div>
        <p>{{ 'app.user.register.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock content %}
