{% extends "app/base.html.twig" %}

{% block content %}
    <h2 class="text-center">{{ 'app.user.register.title'|trans }}</h2>
    <div>
        <p>{{ 'app.user.register.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock content %}
