{% extends "app/base.html.twig" %}

{% block page_title %}{{ 'app.user.resetting.title'|trans }}{% endblock %}

{% block content %}
    {{ 'app.user.resetting.title'|trans }}
    <p>{{ 'app.user.resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
{% endblock content %}
