{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="list-unstyled">
                {%- for error in errors -%}
                    <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}
